{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container checkout">
   <div class="progress row">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> Billing</div>
   </div>
   <div class="row">
      <div class="col-12">
         <h1 class="checkout-title"> Checkout </h1>
         {% for items in cart_items %}
         {{ items.product }}
         {{items.price}}
         {% endfor %}
         <form action="{% url 'checkouttest' %}" method="POST" id="payment-form">
            <p>First Name: {{ form.first_name }}</p>
            <p> Last Name:{{ form.last_name }}</p>
            <p>Email: {{ form.email }}</p>
            <p>Address: {{ form.address }}</p>
            <p>Postal Code: {{ form.postal_code}}</p>
            <p>City: {{ form.city }}</p>
            {% csrf_token %}
            <div class="form-row-checkout">
               <label for="card-element">
               Credit or debit card
               </label>
               <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
               </div>
               <!-- Used to display form errors. -->
               <div id="card-errors" role="alert"></div>
            </div>
            <button id="submit-button" class="btn btn-black rounded-0">
            <a type="button" class="font-weight-bold btn-info btn">Complete Order</a>
            <a href="{% url 'products' %}" type="button" class="btn btn-success"> Return to Shop </a>
            <a href="{% url 'cart' %}" type="button" class="btn btn-info"> Return to Cart </a>
            <span class="icon">
            <i class="fas fa-lock"></i>
            </span>
            </button>
         </form>
      </div>
   </div>
</div>
<!-- loading overlay for when card is being processed, taken from boutique ado project codeinstitute.com-->
<div id="loading-overlay">
   <h1 class="text-light logo-font loading-spinner">
      <span class="icon">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </span>
   </h1>
</div>
{% endblock %}
{% block postloadjs %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_stripe_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}