a {
    font-family: 'Playfair Display', serif;
    color:#2A2323;


}

nav{
    background-color: #ae877e;
}

h5{
    font-family: 'Merriweather', serif;
    color:#2A2323;
}

h1{
    font-family: 'Playfair Display', serif;

}
h4{
    font-family: 'Merriweather', serif;

}

.interior-design-landing{
    color:#2A2323;
}

.stylists-landing{
   background-color:#006B7D;
   
   
}

.about{
    margin-top:8%;
    text-align:center;

}

hr{
    margin-top:5%;
     
}

@media only screen and (max-width: 600px) {
  h4{
      font-size:1em;
  }
  h1{
      font-size:1.2em;
  }
}

.listing-description{
    font-size:1.5em;
    font-family: 'Merriweather', serif;
    color:#b4764f


}

.description-text{
    font-size:1em;
    font-family: 'Playfair Display', serif;


}

/* loading overlay css taken from boutique ado project codeinstitute.com */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.signup-page{
    margin-top:20%;
    font-family: 'Merriweather', serif;

}

.checkout-page{
    margin-top:20%;
}
