a {
    font-family: 'Playfair Display', serif;

}

nav{
    background-color: #ae877e;
}

h5{
    font-family: 'Merriweather', serif;
    color:#2A2323;
}

h1{
    font-family: 'Playfair Display', serif;

}
h4{
    font-family: 'Merriweather', serif;

}

.interior-design-landing{
    color:#2A2323;
}

.stylists-landing{
   background-color:#bfaba8;
}

.about{
    margin-top:8%;
    text-align:center;

}

hr{
    margin:auto;
}