{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- top menu-->
<div class="container listing">
   <div class="row">
      <div class="col-12">
         <p> <a href="{% url 'home' %}">Home </a> > <a href="{% url 'categories' %}">Categories </a> > <a href="{% url result %}">{{currentCategory}}</a></p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-lg-6">
         <h1> {{ product.name }} </h1>
         <p>•once you have added the product to the bag, click on view bag to see it</p>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-sm-12">
         <h1> image </h1>
      </div>
      <div class="col-lg-6 col-sm-12">
         <h1> £{{ product.price }} </h1>
         <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <button id="add-to-cart" type="button submit" class="btn btn-info">Add To Cart</button>
            <a href="{% url 'cart' %}" type="button" class="btn btn-success"> View Cart </a>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <hr>
         <p class="listing-description"> Description </p>
         <p class="description-text"> {{product.description}}</p>
      </div>
   </div>
</div>
{% endblock %}
<script src="{% static 'products/js/listing.js' %}"></script>