{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- top menu-->
<div class="container products-page">
   <p> <a href="{% url 'home' %}">Home </a>  > <a href="{% url 'categories' %}">Categories </a>> <a href="{% url currentCategory %}">{{currentCategory}}</a></p>
</div>
<!-- category filters-->
<div class="container h-75" style="margin-top:70px;">
   <div class="row h-75">
      <div class="col-6 my-auto">
         <p> {{currentCategory}}</p>
         <p> {{filter}}</p>
         Categories:
         <a class="stylist-button" href="{% url 'stylists' %}"> Stylists</a>
         <a href="{% url 'interiordesigners' %}"> Interior Designers </a>
         <a href="{% url 'personaltrainers' %}"> Personal Trainers </a>
         <a href="{% url 'professionalphotos' %}"> Professional Photographers </a>
         <a href="{% url 'lifecoaches' %}"> Lifecoaches </a>
      </div>
      <!-- sort filters-->
      <div class="col-6 my-auto">
         <p> Sort by </p>
         <form method="POST" action="{% url currentCategory %}">
            {% csrf_token %}
            <select name="sort" id="sort">
               <option value="1" name="lowtohigh">Price low to high</option>
               <option value="2" name="hightolow">Price high to low</option>
               <option value="3" name="highestrated">Highest Rated</option>
            </select>
            <button type="submit button" class="btn btn-info">Sort</button>
         </form>
      </div>
   </div>
</div>
<!-- products-->
<main>
   <div class="container">
      <div class="row">
         <div class="col-12">
            <p class="length"> There are {{products|length}} results that match your query.</p>
         </div>
      </div>
      <div class="row">
         {% for product in products %}
         <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card">
            <div class="card-body">
               <p>{{ product.name }}</p>
               <p>{{ product.category }}</p>
               <p>{{ product.description }}</p>
               <p>{{ product.sku }}</p>
               <p>{{ product.price }}</p>
               <p>{{ product.rating }}</p>
               <a href="{% url 'listing' product.id %}"> View Details </a>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</main>
{% endblock %}