{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container h-75" style="margin-top:70px;">
        <div class="row h-75">
        <div class="col-12 my-auto">

<p> Categories </p>
  <form method="POST" action="{% url 'test' %}" >
  {% csrf_token %}



    <label for="cars">Choose a category:</label>
  <select>
    <option value="1" name="1">Stylists</option>
    <option value="2" name="2">Interior Designers</option>
    <option value="3" name="3">Personal Trainers</option>
    <option value="4" name="4">Professional Photos</option>
     <option value="5" name="5">Life coaches</option>
    <option value="6" name="6">Other</option>


  </select>
  <input type="submit">
  </form>




  </div>
</div>
</div>
<div class="row">
        <div class="col-12">
    <p> All Products </p>
        
    working?
        {% for product in products %}
        <p>{{ product.name }}</p>
        <p>{{ product.category }}</p>

        <p>{{ product.description }}</p>
        <p>{{ product.sku }}</p>
        <p>{{ product.price }}</p>
        <p>{{ product.rating }}</p>




        {% endfor %}

    </div>

</div>


{% endblock %}