{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container h-75" style="margin-top:70px;">
        <div class="row h-75">
        <div class="col-12 my-auto">

<p> Categories </p>
  <form method="POST">
  {% csrf_token %}



    <label for="cars">Choose a category:</label>
  <select>
    <option value="stylists" name="stylists">Stylists</option>
    <option value="interior designers" name="interior designers">Interior Designers</option>
    <option value="personal trainers" name="personal trainers">Personal Trainers</option>
    <option value="professional photos" name="professional photos">Professional Photos</option>
     <option value="life coaches" name="life coaches">Life coaches</option>
    <option value="other" name="other">Other</option>


  </select>
  <input type="submit">
  </form>




  </div>
</div>
</div>
<div class="row">
        <div class="col-12">
    <p> All Products </p>
        
    working?
        {% for product in products %}
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.sku }}</p>
        <p>{{ product.price }}</p>
        <p>{{ product.rating }}</p>




        {% endfor %}

    </div>

</div>


{% endblock %}